$primary-color: #3a3f58;
$background-color: #f7f8fa;
$text-color: #333;

@if $color_scheme == 'dark' {
  $primary-color: #333;
  $background-color: #000;
  $text-color: #fff;
} @else if $color_scheme == 'aqua' {
  $primary-color: #598392;
  $background-color: #eff6e0;
  $text-color: #01161e;
} @else if $color_scheme == 'desert' {
  $primary-color: #925959;
  $background-color: #f6f1e0;
  $text-color: #1e0101;
}

body {
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

h1 {
  margin-bottom: 25px;
}

img {
  max-width: 100%;
}